
  .enterPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/Frame.png'); /* 替換為你的圖片路徑 */
    background-size: cover;
    background-position: center;
}
  

.go-word {
  width: 100px;
  height: 100px;
  position: fixed;
  position: absolute;
  right: 135px; /* 調整按鈕的水平位置 */
  bottom: 13px; /* 調整按鈕的垂直位置 */
  outline: none; /* 移除按鈕的聚焦邊框 */
  border: none; /* 移除邊框 */
  font-weight: bolder; /* 設定字體加粗 */ 
  color: aliceblue;
  cursor: pointer; /* 可選，讓按鈕更有互動性 */
  background-color: #171514;
  border-radius: 50%; /* 設置為圓形 */
  font-size: 48px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.go-word:hover {
  background-color: #e76e00;
}