.heroImagF {
    width: 100vw;
    /* 滿螢幕寬度 */
    height: 194px;
    /* 滿螢幕高度 */
    margin: 0;
    display: flex;
    place-items: center;
    background: url('../assets/Rectangle.jpg') lightgray 50% / cover no-repeat;
}

.sloganContainerF {

    width: 100%;
    text-align: center;
    font-family: "Kdam Thmor Pro";
    font-size: 48px;
    font-weight: 400;
    line-height: 1.5;
    color: transparent;
    /* 將字體內容設為透明 */
    -webkit-text-stroke-width: 2px;
    /* 設定描邊寬度 */
    -webkit-text-stroke-color: #FE8104;
    /* 描邊顏色 */
    position: relative;
    /* 開啟定位 */
    padding-top: 120px;
    /* 向下移動文字 */
    left: -370px;
}


.inputContainer {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.inputField {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e2cdcd;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
   
}

.participantInfo {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff5f5;
    width: 100%;
    max-width: 100%;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* 卡片 Hover 效果 */
.participantInfo:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.participantNumber, .participantName, .participantPhone, .participantGender, .participantEmail {
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1.5;
}

.F12button {
    display: flex;
    gap: 10px; /* 增大按鈕之間的間距 */
    margin-top: 10px;
}

.F12text {
    font-size: 16px; 
    font-weight: bold; 
    text-align: center;
    color: #fff; 
    background-color: #f48b30; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.F12text:hover {
    background-color: #c27b25; 
}