/* EnterPage.css
*/

.banner-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-image: url('../assets/Frame.png'); /* 本地圖片路徑 */
    background-size: cover; /* 圖片自動適應大小 */
    background-repeat: no-repeat; /* 防止圖片重複 */
  }
  
  .banner-title {
    position: absolute; /* 使用絕對定位 */
    bottom: 20px; /* 距離底部的距離 */
    left: 20px; /* 距離左側的距離 */
    color: #FFFBFB;
    font-size: 128px;
    font-family: 'Anton', sans-serif; /* 確保字體正確 */
    font-weight: 400;
    line-height: 120%;
    word-wrap: break-word;
  }
  
  
  .banner-subtitle {
    width: 72px;
    height: 96px;
    color: white;
    font-size: 64px;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    line-height: 120%;
    word-wrap: break-word;
  }
  