.heroImage {
    width: 1280px;
    height: 423px;
    position: absolute;
    top: 131px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../assets/Main.jpg') lightgray 50% / cover no-repeat;

}

.sloganContainer {
    width: 800px;
    height: 93px;
    flex-shrink: 0;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #FE8104;
    font-family: "Kdam Thmor Pro";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 120px;
    /* 125% */
    letter-spacing: 9.6px;
}

.slogan {
    left: 18;
    flex: 1;
    border: 2px solid rgb(254, 129, 4);
}

.slogan2 {
    left: 20;
    flex: 1;
    border: 2px solid rgb(254, 129, 4);
}

/* 模糊背景樣式 */
.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 841vw;
    height: 1283vh;
    backdrop-filter: blur(10px);
    /* 模糊效果 */
    background-color: rgba(255, 255, 255, 0.2);
    /* 半透明遮罩，讓模糊更明顯 */
    z-index: 1;
    /* 背景層級*/
}

/* 登入.css*/
.flexContainer {
    display: flex;
    gap: 10px;
    /* 元素間距 */
    background-color: #f7cb9f;
    padding: 20px;
    width: 541px;
    height: 86px;
    flex-shrink: 2;
    z-index: 1;
    /* 背景層級*/
}

.flexContainerWord {
    color: #000;
    font-family: Anybody;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 111.111% */
}

.boxLine {
    left: 117;
    top: 290;
    width: 299.027px;
    height: 2px;
    width: 299.027px;
    height: 2px;
    box-shadow: 0px 4px 25px 0px rgb(254, 129, 4);
}

.boxLine2 {
    left: 117;
    top: 367;
    width: 299.027px;
    height: 2px;
    width: 299.027px;
    height: 2px;
    box-shadow: 0px 4px 25px 0px rgb(254, 129, 4);
}

.boxLine3 {
    left: 117;
    top: 452;
    width: 299.027px;
    height: 2px;
    width: 299.027px;
    height: 2px;
    box-shadow: 0px 4px 25px 0px rgb(254, 129, 4);
}

.boxLine4 {
    left: 117;
    top: 537;
    width: 299.027px;
    height: 2px;
    width: 299.027px;
    height: 2px;
    box-shadow: 0px 4px 25px 0px rgb(254, 129, 4);
}

.box {
    position: absolute;
    /* 使用絕對定位 */
    top: 50px;
    /* 距離父容器顶部 50px */
    /* left: 100px; 距離父容器左側 100px */
    width: 541px;
    /* 設定盒子的寬度為 541 像素 */
    height: 642px;
    /* 設定盒子的高度為 642 像素 */
    flex-shrink: 0;
    /* 禁止盒子在父容器中因空間不足被壓縮 */
    background-color: #ffffff;
    /* 設定盒子的背景顏色為白色 */
    color: black;
    /* 設定盒子內文字的顏色為黑色 */
    font-size: 20px;
    display: flex;
    /* 設定盒子為彈性佈局 */
    justify-content: center;
    /* 水平居中對齊子元素 */
    align-items: center;
    /* 垂直居中對齊子元素 */
    text-align: center;
    /* 設定文字的對齊方式為居中 */
    z-index: 2;
    /* 背景層級*/
}


.boxWord {
    top: 426px;
    width: 176px;
    color: rgba(0, 0, 0, 0.51);
    font-family: Anybody;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    text-align: center;
}

.boxWord2 {
    left: 110;
    top: 330;
    color: #000;
    font-family: Anybody;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
}

.boxWord3 {
    left: 110;
    top: 412;
    color: #000;
    font-family: Anybody;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
}

.boxWord4 {
    left: 110;
    top: 494;
    color: #000;
    font-family: Anybody;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
}

.buttonsign {
    width: 340px;
    height: 57px;
    flex-shrink: 0;
    width: 340px;
    height: 57px;
    flex-shrink: 0;
    width: 42px;
    height: 40px;
    flex-shrink: 0;
    color: #FFFBFB;
    font-family: Anybody;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
}