.timerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* 框框的寬度 */
    height: 60px; /* 框框的高度 */
    border: 2px solid black; /* 黑色邊框 */
    border-radius: 10px; /* 圓角 */
    background-color: black; 
    color:white ; /* 文字顏色為黑色 */
    font-weight: bold; /* 字體加粗 */
    font-size: 24px; /* 文字大小 */
    margin: 0 5px; /* 元素間距 */
  }
  